{% extends 'base.html' %}

{% block title %}Книги {% endblock %}

{% block content %}

    <h2 class='text-center'><span>Книги</span></h2>
   
   <div class="row">
        <div class="col-md-11 mx-auto">
			<h4><a href="{%url 'admin:app_list' 'books' %}">Административная часть</a></h4>
			<hr>
			<table class="table table-striped">
				<thead>
                    <tr>
                        <th scope="col">Название книги</th>
                        <th scope="col">Информация об авторах</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Дата публикации <a href="{%url 'books:home' %}?sort=desc">-</a>/
							<a href="{%url 'books:home' %}?sort=asc">+</a></th>
						<th scope="col">&nbsp;</th>
                    </tr>
                </thead>
				<tbody>
				{% for object in objects_list %}
					<tr>
						<td>{{ object.book_title }}</td>
						<td>{{ object.authors_info }}</td>
						<td>{{ object.isbn }}</td>
						<td>{{ object.price }}</td>
						<td>{{ object.publish_date| date:"d/m/Y" }}</td>
						<td>
							<a href="{%url 'books:update' pk=object.pk %}">
								<button type="button" class='btn btn-success btn-sm' >
									Редактировать</button></a>
						</td>
						
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
    </div>
	
	


	{% endblock %}
	
	
									
	
